*.DS_Store
*.csproj
*.csproj.user
*.p4set
*.pidb
*.unityproj
*.sln
*.suo
*.sublime-*
*.userprefs
*.apk
*.user

.vs/
.tempfiles
Library/
Temp/
obj/
private/

Assembly-CSharp*
MarsCard-csharp.sln
MarsCard.sln

Builds/
Build/
Logs/
UserSettings/

